<div>
  <div class="flex items-center justify-between mb-4">
    <h4 class="text-lg font-medium text-text flex items-center gap-2">
      <i class="pi pi-globe text-primary"></i>
      {{ "LANGUAGES" | translate }}
    </h4>
    <button
      *appHasRole="['HR', 'HR_ADMIN']"
      pButton
      icon="pi pi-plus"
      label="{{ 'ADD_LANGUAGE' | translate }}"
      class="p-button-text p-button-rounded p-button-sm"
      (click)="onAddLanguage()"
    ></button>
  </div>

  <div
    *ngIf="offerLanguages() && offerLanguages().length > 0; else emptyState"
    class="flex flex-col gap-2"
  >
    <app-offer-language-card
      *ngFor="let lang of offerLanguages()"
      [language]="lang"
    ></app-offer-language-card>
  </div>

  <ng-template #emptyState>
    <div
      class="flex flex-col items-center justify-center p-8 bg-slate-50 dark:bg-slate-700 rounded-lg border border-dashed border-border"
    >
      <i class="pi pi-globe text-4xl text-text/40 mb-4"></i>
      <p class="text-text/60 mb-4">
        {{ "NO_LANGUAGE_REQUIREMENTS_ADDED_YET" | translate }}
      </p>
      <button
        *appHasRole="['HR', 'HR_ADMIN']"
        pButton
        icon="pi pi-plus"
        label="{{ 'ADD_LANGUAGE' | translate }}"
        class="p-button-text"
        (click)="onAddLanguage()"
      ></button>
    </div>
  </ng-template>
</div>
<app-add-edit-offer-language-dialog *appHasRole="['HR', 'HR_ADMIN']" />
