<div
  class="bg-white dark:bg-slate-800 rounded-xl shadow-sm px-1! py-2! sm:p-6! mb-6 border border-slate-200 dark:border-slate-700"
>
  <div class="flex justify-between items-center mb-2">
    <h3
      class="text-xl font-semibold text-slate-800 dark:text-slate-100 flex items-center"
    >
      <i class="pi pi-book text-blue-500 mr-2"></i>
      {{ "EDUCATION" | translate }}
    </h3>
    <ng-container *ngIf="isEditAllowed">
      <ng-container *ngIf="!isApplicationReview">
        <button
          *appHasRole="['HR_ADMIN', 'HR', 'RECRUITER']"
          pButton
          icon="pi pi-plus"
          class="p-button-rounded p-button-text p-button-sm dark:text-slate-200"
          (click)="openAddDialog()"
          [label]="'ADD' | translate"
        ></button>
      </ng-container>
    </ng-container>
  </div>
  <div
    *ngIf="educations() && educations().length > 0; else noEducation"
    class="space-y-4"
  >
    <app-education-card
      *ngFor="let edu of educations()"
      [education]="edu"
      [isApplicationReview]="isApplicationReview"
      [isEditAllowed]="isEditAllowed"
    ></app-education-card>
  </div>
  <ng-template #noEducation>
    <div class="flex flex-col items-center justify-center text-center">
      <i class="pi pi-book text-4xl text-slate-400 mb-2"></i>
      <h4 class="text-lg font-medium text-slate-800 dark:text-slate-100 mb-2">
        {{ "NO_EDUCATION" | translate }}
      </h4>
      <p class="text-slate-600 dark:text-slate-300 mb-2">
        {{ "NO_EDUCATION_DESCRIPTION" | translate }}
      </p>
      <ng-container *ngIf="isEditAllowed">
        <ng-container *ngIf="!isApplicationReview">
          <button
            pButton
            icon="pi pi-plus"
            class="p-button-rounded p-button-text"
            [label]="'ADD_EDUCATION' | translate"
            (click)="openAddDialog()"
            *appHasRole="['HR_ADMIN', 'HR', 'RECRUITER']"
          ></button>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
</div>

<ng-container *ngIf="isEditAllowed">
  <ng-container *ngIf="!isApplicationReview">
    <app-add-edit-candidate-education-dialog
      *appHasRole="['HR_ADMIN', 'HR', 'RECRUITER']"
    ></app-add-edit-candidate-education-dialog>
  </ng-container>
</ng-container>
