<div
  class="bg-white dark:bg-slate-800 rounded-xl shadow-sm px-1! py-2! sm:p-6! mb-6! border border-slate-200 dark:border-slate-700"
>
  <div class="flex justify-between items-center mb-4">
    <h3
      class="text-xl font-semibold text-slate-800 dark:text-slate-100 flex items-center"
    >
      <i class="pi pi-briefcase text-blue-500 mr-2"></i>
      {{ "SKILLS" | translate }}
    </h3>
    <button
      *appHasRole="['HR_ADMIN', 'HR', 'RECRUITER']"
      pButton
      icon="pi pi-plus"
      class="p-button-rounded p-button-text p-button-sm dark:text-slate-200"
      label="{{ 'ADD' | translate }}"
      (click)="skillService.openAddDialog()"
    ></button>
  </div>
  <div
    *ngIf="skills() && skills().length > 0; else noSkills"
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4"
  >
    <app-skill-card
      *ngFor="let skill of skills()"
      [skill]="skill"
    ></app-skill-card>
  </div>
  <ng-template #noSkills>
    <div class="flex flex-col items-center justify-center text-center">
      <div class="rounded-full mb-2">
        <i class="pi pi-briefcase text-5xl text-slate-400"></i>
      </div>
      <h4 class="text-lg font-medium text-slate-800 dark:text-slate-100 mb-2">
        {{ "NO_SKILLS" | translate }}
      </h4>
      <p class="text-slate-600 dark:text-slate-300 mb-2">
        {{ "NO_SKILLS_DESCRIPTION" | translate }}
      </p>
      <button
        *appHasRole="['HR_ADMIN', 'HR', 'RECRUITER']"
        pButton
        icon="pi pi-plus"
        class="p-button-rounded p-button-text"
        label="{{ 'ADD_SKILL' | translate }}"
        (click)="skillService.openAddDialog()"
      ></button>
    </div>
  </ng-template>
</div>

<app-add-edit-candidate-skill-dialog
  *appHasRole="['HR_ADMIN', 'HR', 'RECRUITER']"
></app-add-edit-candidate-skill-dialog>
