<p-dialog
  [visible]="isVisible()"
  (visibleChange)="setDialogVisible($event)"
  [style]="{ width: '70rem' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onHide()"
  class="dark:bg-slate-800 overflow-visible"
>
  <ng-template pTemplate="header">
    <div class="flex items-center justify-center gap-2 w-full">
      <i class="pi pi-envelope text-blue-600 mr-2"></i>
      <span class="font-medium text-text!">{{ "SEND_EMAIL" | translate }}</span>
    </div>
  </ng-template>

  <form [formGroup]="emailForm" (ngSubmit)="onSave()" class="space-y-4">
    <div class="flex flex-col gap-2">
      <label for="subject" class="text-sm font-medium text-text!">
        {{ "SUBJECT" | translate }}
      </label>
      <input
        type="text"
        id="subject"
        pInputText
        formControlName="subject"
        class="w-full py-[12px]! rounded-md! bg-card! text-card-foreground! dark:hover:border-white! dark:focus:border-white! dark:focus:ring-white!"
        [class.ng-invalid]="
          emailForm.get('subject')?.invalid && emailForm.get('subject')?.touched
        "
      />
    </div>
    <p-editor
      formControlName="message"
      [placeholder]="'ENTER_MESSAGE' | translate"
      [style]="{ height: '470px' }"
      class="w-full"
      [class.ng-invalid]="
        emailForm.get('message')?.invalid && emailForm.get('message')?.touched
      "
    >
      <ng-template #header>
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button
            type="button"
            class="ql-underline"
            aria-label="Underline"
          ></button>
          <button
            type="button"
            class="ql-strike"
            aria-label="Strikethrough"
          ></button>
          <button
            type="button"
            class="ql-list"
            value="ordered"
            aria-label="Ordered List"
          ></button>
          <button
            type="button"
            class="ql-list"
            value="bullet"
            aria-label="Bullet List"
          ></button>
          <button
            type="button"
            class="ql-align"
            value=""
            aria-label="Align Left"
          ></button>
          <button
            type="button"
            class="ql-align"
            value="center"
            aria-label="Align Center"
          ></button>
          <button
            type="button"
            class="ql-align"
            value="right"
            aria-label="Align Right"
          ></button>
          <button
            type="button"
            class="ql-align"
            value="justify"
            aria-label="Justify"
          ></button>
          <button
            type="button"
            class="ql-blockquote"
            aria-label="Blockquote"
          ></button>
          <button
            type="button"
            class="ql-header"
            value="1"
            aria-label="Heading 1"
          ></button>
          <button
            type="button"
            class="ql-header"
            value="2"
            aria-label="Heading 2"
          ></button>
        </span>
        <select class="ql-size" aria-label="Font Size">
          <option value="small">{{ "SMALL" | translate }}</option>
          <option selected>{{ "NORMAL" | translate }}</option>
          <option value="large">{{ "LARGE" | translate }}</option>
          <option value="huge">{{ "HUGE" | translate }}</option>
        </select>
      </ng-template>
    </p-editor>
    <div class="flex justify-end gap-2 my-4">
      <button
        pButton
        type="button"
        label="{{ 'CANCEL' | translate }}"
        class="p-button-text"
        (click)="onHide()"
      ></button>
      <button
        pButton
        type="submit"
        [label]="'SAVE' | translate"
        [disabled]="!emailForm.valid || isLoading()"
        [loading]="isLoading()"
      ></button>
    </div>
  </form>
</p-dialog>
