<div class="p-6 bg-slate-50 dark:bg-slate-900 min-h-screen">
  <app-candidates-details-over-view-profile></app-candidates-details-over-view-profile>

  <app-candidates-details-over-view-social-links></app-candidates-details-over-view-social-links>

  <app-candidates-details-over-view-experience></app-candidates-details-over-view-experience>

  <app-candidates-details-over-view-skills></app-candidates-details-over-view-skills>

  <app-candidates-details-over-view-education></app-candidates-details-over-view-education>

  <app-candidates-details-over-view-languages></app-candidates-details-over-view-languages>
</div>
