<div class="">
  <p-tabs
    [value]="activeTab()"
    scrollable="true"
    (valueChange)="onTabChange($event)"
  >
    <p-tablist>
      <p-tab value="overview">{{ "OVERVIEW" | translate }}</p-tab>
      <!-- <p-tab value="2" *appHasRole="'HR_ADMIN'">{{
        "RECRUITMENT_PIPELINE" | translate
      }}</p-tab> -->
      <p-tab value="applications">{{ "APPLICATIONS" | translate }}</p-tab>
      <p-tab value="interviews">{{ "INTERVIEWS" | translate }}</p-tab>
      <p-tab value="profiles">{{ "PROFILES" | translate }}</p-tab>
    </p-tablist>
    <p-tabpanels class="min-h-[550px]! p-0!">
      <p-tabpanel value="overview">
        <ng-container *ngIf="activeTab() === 'overview'">
          <app-offer-details-overview-tab />
        </ng-container>
      </p-tabpanel>
      <!-- <p-tabpanel value="2" *appHasRole="'HR_ADMIN'">
        <ng-container *ngIf="activeTab() === '2'">
          <app-offer-details-recruitment-pipeline-tab />
        </ng-container>
      </p-tabpanel> -->
      <p-tabpanel value="applications">
        <ng-container *ngIf="activeTab() === 'applications'">
          <app-offer-details-applications-tab />
        </ng-container>
      </p-tabpanel>
      <p-tabpanel value="interviews">
        <ng-container *ngIf="activeTab() === 'interviews'">
          <app-offer-details-interviews-tab />
        </ng-container>
      </p-tabpanel>
      <p-tabpanel value="profiles">
        <ng-container *ngIf="activeTab() === 'profiles'">
          <app-offer-details-profiles-tab />
        </ng-container>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
