<div class="flex gap-3 flex-col pt-2">
  <div class="flex justify-end items-center">
    <button
      type="button"
      pButton
      icon="pi pi-plus"
      (click)="profileService.openAddProfileDialog()"
      class="rounded-md! border-none! cursor-pointer! shadow-md! bg-secondary! text-primary-text! dark:hover:text-slate-200! dark:hover:bg-secondary/80! hover:opacity-90! transition-colors! duration-150!"
    >
      {{ "ADD_PROFILE" | translate }}
    </button>
  </div>
  <app-profiles-filter-form [request]="request" />
  <app-candidates-details-profiles-table [request]="request" />
</div>
<app-add-profile-dialog />
